  <% if object.errors.any? %>
  <div>
    <p> We could not save your <%= object.class.to_s %> </p>
    <% object.errors.full_messages.each do |error_message| %> 
        <li> <%= error_message %> </li>
    <% end %>
  <% end %>
</div>
